<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::headx"></head>
<body>
<header th:replace="/fragments/commons::nav"></header>

<div class="container">
    <h2 class="text-center text-white">Add Article</h2>
    <form  th:action="@{/articles/add}"
           th:method="post"
           th:object="${addArticleModel}"
           class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="title" class="text-white font-weight-bold">Title</label>
                <input
                        id="title"
                        th:field="*{title}"
                        errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="Title"/>
                <small id="titleHelpInline" class="bg-danger text-light rounded invalid-feedback">
                    Title in articles must not be empty.
                </small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="text" class="text-white font-weight-bold">Text</label>
                <input id="text"
                       th:field="*{text}"
                       th:error="*{text}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       placeholder="Text"/>
                <small id="textHelpInline" class="bg-danger text-light rounded invalid-feedback">
                    Text in articles must not be empty.
                </small>
            </div>
        </div>
            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Add Article"/>
                    </div>
                </div>
            </div>
    </form>
</div>


</body>
<footer th:replace="/fragments/commons::footerx"></footer>
</html>