<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::headx"></head>
<body>

<header th:replace="/fragments/commons::nav"></header>

<div class="container">
    <h2 class="text-center text-white">Add Vehicle</h2>
    <form  th:action="@{/vehicles/add}"
           th:method="post"
           th:object="${addVehicleModel}"
           class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="brand" class="text-white font-weight-bold">Brand</label>
                <input
                        id="brand"
                        th:field="*{brand}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="Brand"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Brand is required.
                </p>
            </div>
        </div>
            <div class="form-group col-md-6 mb-3">
                <label for="model" class="text-white font-weight-bold">Model</label>
                <input id="model"
                       th:field="*{model}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       placeholder="Model"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Model is required.
                </p>
            </div>

        <div class="form-group col-md-12 mb-3">
            <label for="yearOfProduction" class="text-white font-weight-bold">Year of Production</label>
            <input
                    id="yearOfProduction"
                    th:field="*{yearOfProduction}"
                    th:errorclass="is-invalid"
                    type="date"
                    class="form-control"
                    placeholder="YearOfProduction"/>
            <p class="invalid-feedback errors alert alert-danger">
                Year of production is required.
            </p>

            <div class="row">
                <div class="form-group col-md-12 mb-3">
                    <label for="hp" class="text-white font-weight-bold">Horse Power</label>
                    <input id="hp"
                           th:field="*{hp}"
                           th:errorclass="is-invalid"
                           type="number"
                           class="form-control"
                           placeholder="hp"/>
                    <div class="invalid-feedback errors alert alert-danger">
                        Horse Power is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 mb-3">
                    <label for="engineSize" class="text-white font-weight-bold">Engine Displacement</label>
                    <input id="engineSize"
                           th:field="*{engineSize}"
                           th:errorclass="is-invalid"
                           type="number"
                           class="form-control"
                           placeholder="engineSize"/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Engine displacement is required.
                    </p>
                </div>
            <div class="form-group">
                <label for="nm" class="text-white font-weight-bold">NM</label>
                <input
                        id="nm"
                        th:field="*{nm}"
                        th:errorclass="is-invalid"
                        type="number"
                        class="form-control"
                        placeholder="nm"
                >
                <p class="invalid-feedback errors alert alert-danger">
                    NM is required.
                </p>
            </div>
            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label class="h4 mb-2" for="engineType">Engine Type</label>
                </div>
            </div>
        <select class="browser-default custom-select" id="engineType" name="engineType" th:errorclass="is-invalid"
                        th:field="*{engineType}">
                    <option value="">Select Engine Type</option>
                    <option value="PETROL">PETROL</option>
                    <option value="DIESEL">DIESEL</option>
                    <option value="ELECTRIC">ELECTRIC</option>
                </select>
                <div class="form-group">
                    <div class="text-white label-holder d-flex justify-content-center">
                        <label class="h4 mb-2" for="vehicleType">Vehicle Type</label>
                    </div>
                </div>
        <select class="browser-default custom-select" id="vehicleType" name="vehicleType" th:errorclass="is-invalid"
                            th:field="*{vehicleType}">
                        <option value="">Select Vehicle Type</option>
                        <option value="CAR">CAR</option>
                        <option value="MOTORCYCLE">MOTORCYCLE</option>
                    </select>
            <div class="form-group col-md-12 mb-3">
                <label for="quarterMileStanding" class="text-white font-weight-bold">Quarter Mile Standing</label>
                <input id="quarterMileStanding"
                       th:field="*{quarterMileStanding}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       placeholder="quarterMileStanding"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Quarter Mile Standing is required.
                </p>
            </div>
            <div class="form-group col-md-12 mb-3">
                <label for="mileStanding" class="text-white font-weight-bold">Mile Standing</label>
                <input id="mileStanding"
                       th:field="*{mileStanding}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       placeholder="mileStanding"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Mile Standing is required.
                </p>
            </div>
            <div class="form-group col-md-12 mb-3">
                <label for="zeroToHundred" class="text-white font-weight-bold">Zero To Hundred</label>
                <input id="zeroToHundred"
                       th:field="*{zeroToHundred}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       placeholder="zeroToHundred"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Zero to hundred is required.
                </p>
            </div>
            <div class="form-group col-md-12 mb-3">
                <label for="topSpeed" class="text-white font-weight-bold">Top speed</label>
                <input id="topSpeed"
                       th:field="*{topSpeed}"
                       th:errorclass="is-invalid"
                       type="number"
                       class="form-control"
                       placeholder="topSpeed"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Top speed is required.
                </p>
            </div>
            <div class="form-group col-md-12 mb-3">
                <label for="description" class="text-white font-weight-bold">Description</label>
                <input id="description"
                       th:field="*{description}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       placeholder="description"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Description is required.
                </p>
            </div>
            <div class="form-group col-md-12 mb-3">
                <label for="photo" class="text-white font-weight-bold">Photo</label>
                <input id="photo"
                       th:field="*{photo}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       placeholder="photo"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Photo is required.
                </p>
            </div>
                <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Add vehicle"/>
                    </div>
                </div>
            </div>

    </form>
</div>
</body>
<footer th:replace="/fragments/commons::footerx"></footer>
</html>