<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::headx"></head>
<body>
<header th:replace="/fragments/commons::nav"></header>

<div class="admin-panel" th:each="user : ${allUsers}">
        <p class="text" th:text="|Full name: ${user.fullName} Username: ${user.username} User roles: ${user.fullRoles}  |"> User </p>
    <hr>
        <a th:href="@{/admin/add/{id}(id=*{user.id})}" class="btn btn-primary">Give Admin Authorities</a>
        <a th:href="@{/admin/delete/{id}(id=*{user.id})}" class="btn btn-danger">Delete User</a>
    </div>

</body>
<footer th:replace="/fragments/commons::footerx"></footer>
</html>