<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="/fragments/commons::headx"></head>
<body>
<header th:replace="/fragments/commons::nav"></header>

<h1 class="articles-h1"> HERE ARE ALL OF THE ARTICLES </h1>

    <div class="card" th:each="article : ${allArticles}" >
        <div class="card-body" >
            <h3 th:text="${article.title}">My Car is very fast</h3>
            <div th:text="${article.author}"><a href=""> Andrean Buhchev </a></div>
            <hr>
            <p th:text="${article.text}"> My car is fastest in man just believe it! </p>
            <hr>
            <a th:if="${article.author == #authentication.principal.fullName}" th:href="@{/products/delete}" class="btn btn-danger">Delete My Article</a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/products/delete}" class="btn btn-danger">Delete as Admin</a>
        </div>
    </div>

</body>
<footer th:replace="/fragments/commons::footerx"></footer>
</html>