<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="/fragments/commons::headx"></head>

<body>
<header th:replace="/fragments/commons::nav"> </header>


<img class="mechanic" th:src="@{/images/mechanic.png}" width="500px" height="500px">
<img class="bubble" th:src="@{/images/Bubble.png}" width="400px" height="400px" >

<div class="index-btn">
 <a class="btn btn-primary btn-lg" th:href="@{/users/login}" role="button">LOGIN</a>
 <a class="btn btn-primary btn-lg" th:href="@{/users/register}" role="button">REGISTER</a>
</div>

</div>


</body>
<footer th:replace="/fragments/commons::footerx"></footer>
</html>